################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/obj/Release/net8.0
/.vs/SmartSchool-API/FileContentIndex
/.vs/slnx.sqlite
/.vs/SmartSchool-API/v17/.wsuo
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/.vs/SmartSchool-API/v17/.wsuo
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/bin/Debug/net8.0
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.props
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.csproj.BuildWithSkipAnalyzers
/API/obj/Debug/net8.0/API.csproj.CopyComplete
/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net8.0/API.dll
/API/obj/Debug/net8.0/API.genruntimeconfig.cache
/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cache
/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
/API/obj/Debug/net8.0/API.pdb
/API/obj/Debug/net8.0/API.sourcelink.json
/API/obj/Debug/net8.0/apphost.exe
/API/obj/Debug/net8.0/staticwebassets/msbuild.build.API.props
/API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.API.props
/API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.API.props
/API/obj/Debug/net8.0/staticwebassets.build.json
/API/obj/project.assets.json
/API/obj/project.nuget.cache
/API/obj/Debug/net8.0
/.vs/SmartSchool/config
/.vs/SmartSchool/FileContentIndex
/.vs/SmartSchool-API/config
*.suo
/.vs/SmartSchool/config/applicationhost.config
/.vs/SmartSchool/DesignTimeBuild/.dtbcache.v2
/.vs/SmartSchool
/API/bin/Debug/net8.0
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.csproj.BuildWithSkipAnalyzers
/API/obj/Debug/net8.0/API.csproj.CopyComplete
/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net8.0/API.dll
/API/obj/Debug/net8.0/API.genruntimeconfig.cache
/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cache
/API/obj/Debug/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
/API/obj/Debug/net8.0/API.pdb
/API/obj/Debug/net8.0/API.sourcelink.json
/API/obj/Debug/net8.0/apphost.exe
/API/obj/Debug/net8.0/staticwebassets/msbuild.build.API.props
/API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.API.props
/API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.API.props
/API/obj/Debug/net8.0/staticwebassets.build.json
*.dll
/.vs
/Contracts/obj/Contracts.csproj.nuget.dgspec.json
/Contracts/obj/Contracts.csproj.nuget.g.props
/Contracts/obj/Contracts.csproj.nuget.g.targets
/Contracts/obj/project.assets.json
/Contracts/obj/project.nuget.cache
/Contracts/obj
/Contracts/bin/Debug/net8.0/Contracts.deps.json
/Contracts/bin/Debug/net8.0/Contracts.pdb
/Domain/obj
/DomainModels/obj
/EntityModels/obj
/Responses/obj
/Utility/obj
/DataDomain/obj
/Data/bin/Debug/net8.0
/Data/obj/Debug/net8.0
/Utility/bin/Debug/net8.0
/EntityModels/bin/Debug/net8.0
/DomainModels/bin/Debug/net8.0
/Responses/bin/Debug/net8.0
/Data/obj
/Contracts/bin/Debug/net8.0
/API/obj/Debug/net8.0/API.csprojAssemblyReference.cache
/API/obj/API.csproj.nuget.g.targets
/Domain/bin/Debug/net8.0
/DataDomain/bin/Debug/net8.0
/DataDomain/bin/Debug/net8.0
/Domain/bin/Debug/net8.0
/DomainModels/bin/Debug/net8.0
/EntityModels/bin/Debug/net8.0
/Responses/bin/Debug/net8.0
/Utility/bin/Debug/net8.0
/Data/obj
/.vs/VSWorkspaceState.json
/API/Temp/AMCManagerlog.txt
/API/Temp
/Contracts/bin/Release/net8.0
/Data/bin/Release/net8.0
/Domain/bin/Release/net8.0
/DomainModels/bin/Release/net8.0
/EntityModels/bin/Release/net8.0
/Responses/bin/Release/net8.0
/Utility/bin/Release/net8.0
/API/Properties/PublishProfiles
/API/bin/Release/net8.0
/API/API.csproj.user
/API/API.csproj.user
/API/API.csproj.user
